.frontpage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  z-index: 4;
  position: relative;
}

.frontier {
  display: flex;
  justify-content: space-between;
  width: 50%
}

.frontier .intro {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between
}

.frontier .intro .skrillex {
  display: flex;
  flex-direction: column
}

.frontier .intro .skrillex .clickable {
  margin-top: 1.25rem
}

.frontier .intro .text {
  letter-spacing: -.1px;
  font-size: 13px;
  font-weight: 400;
  font-optical-sizing: auto;
}

.frontier .intro .clickable {
  font-size: 16px
}

.frontier .intro .icon {
  display: flex;
  user-select: none;
  align-items: center
}

.frontier .intro .icon * {
  text-decoration: none;
  color: #000
}

.frontier .intro .icon span {
  transition: opacity 125ms linear
}

.frontier .intro .icon span:hover {
  opacity: .65
}

.frontier .intro .icon span+span {
  margin-left: .75rem
}

.frontier .intro .icon img {
  width: 20px
}

.frontier .intro .icon svg {
  width: 24px
}

.frontier .rectangle {
  width: 40%;
  min-height: 600px;
  background: #121112
}

.rectangle[data-transition-woop=true] {
  transition: transform 500ms var(--expoIn);
  transform: scale(7)
}

.rectangle[data-transition-woop=false] {
  transition: transform 1s var(--expoOut);
  transform: scale(1)
}

.content-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  filter: blur(25px) brightness(50%);
  transform: scale(1.15);
  transition: opacity 250ms ease 50ms, background-color 1s ease;
  opacity: 0;
  display: block;
  pointer-events: none;
  user-select: none;
}

.content-hover[data-active=true] {
  opacity: 1;
  background-color: #121112;
}

.content-hover video,.content-hover-rectangle video {
  width: inherit;
  height: inherit;
  object-fit: cover
}

.content-hover-rectangle {
  height: 100%;
  width: 100%;
  pointer-events: none;
  user-select: none;
  transform: scale(.9);
  opacity: 0;
  transition: opacity 100ms linear, transform 100ms var(--expoIn);
}

.content-hover-rectangle[data-active=true] {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms ease 25ms, transform 1s var(--expoOut) 50ms;
}

.biotext-root {
  position: relative;
  display: block;
  overflow: hidden;
}

.biotext {
  display: inline-block;
  transform: translate3d(0, 25px, 0px) skew(0deg, 5deg);
  transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 125ms linear;
  opacity: 0;
}

.biotext-root[data-show="true"] .biotext {
  transform: translate3d(0, 0, 0) skew(0, 0);
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  .frontier {
    width: 75%;
  }
}

@media only screen and (max-width: 1280px) {
  .frontier {
    width: 90%;
  }
}

@media only screen and (max-width: 992px) {
  .frontier .intro {
    max-width: 60%;
    margin-right: 2rem;
  }

  .frontier .rectangle {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .content-hover, .content-hover-rectangle {
    display: none;
  }

  .frontier {
    flex-direction: column;
    padding: 3.75rem 0;
  }

  .frontier .rectangle {
    width: 100%;
  }

  .frontier .intro {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 2.5rem;
  }

  .frontier .intro .icon {
    margin-top: 2.5rem;
  }

  .frontpage {
    height: 100vh;
    overflow-y: auto;
    align-items: flex-start;
  }
}